<footer>
        <div class="footer-quick-links">
            <div class="footer-quick-links-tab">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/on-the-menu">On The Menu</a></li>
                </ul>
            </div>
            <div class="footer-quick-links-tab">
                <h3>Other Links</h3>
                <ul>
                    <li><a href="/not-ready">FAQ</a></li>
                    <li><a href="/not-ready">Our Ingredients</a></li>
                    <li><a href="/not-ready">Gift Cards</a></li>
                </ul>
            </div>
            <div class="footer-quick-links-tab">
                <h3>Terms &amp; Conditions</h3>
                <ul>
                    <li><a href="/not-ready">Press</a></li>
                    <li><a href="/not-ready">Terms of Use</a></li>
                    <li><a href="/not-ready">Purchase Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-socials">
            <a href="https://youtube.com/shorts/HWbv1-1lrDg?feature=share"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://slack.com/intl/en-in/customer-stories/frontline-foods-slack-feed-covid-19-heroes"><i class="fa-brands fa-slack"></i></a>
            <a href="https://www.instagram.com/cznburak/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/cznburak"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="footer-copyright-statement">
            <p>Copyright © Fall 2022, Shivam Sangwan, WEB322 NEE</SectionCode></p>
        </div>
    </footer>