<header>
        <nav class="d-flex justify-content-between align-items-center">
            <a href="/"><img src="./images/logo.png" alt="logo" class="nav-logo"></a>
            <ul class="nav-links">
                <li class="nav-link-item"><a href="/on-the-menu">on the menu</a></li>
            </ul>
            <div class="nav-account-links">
                <a href="/log-in" class="nav-login-btn">Login</a> / 
                <a href="/sign-up" class="nav-signup-btn">Signup</a>
            </div>
        </nav>
    </header>