<section class="hero">
        <video src="./images/hero-video.mp4" autoplay muted loop class="hero-video-background"></video>
        <div class="d-flex flex-column align-items-center">
            <h1>
                Want some <span>spice</span> in your life?
            </h1>
            <p>One of the most spiciest yet delicious recipies from all around the globe with carefully handpicked ingredients right at your doorstep every week.</p>
            <a href="#top-meals">get started</a>
        </div>
    </section>