<div class="meal-item">
    <div class="meal-item-img" style="background-image: url('./images/{{imageUrl}}') ;"></div>
    <div class="meal-item-details">
        <div class="meal-item-desc">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
        </div>
        <div class="meal-item-price"><span>$</span> {{price}}</div>
    </div>
    <a href="/not-ready" class="meal-item-buy-btn">Add to bag</a>
</div>