 <section class="login-wrapper d-flex justify-content-around align-items-center">
        <p>Welcome Back</p>
        <div class="vhr"></div>
        <div class="login-content p-5 text-center d-flex flex-column align-items-center">
            <p>Login</p>
            <form action="post">
                <div class="login-textbox-wrapper d-flex align-items-center mb-2">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="user"placeholder="Username">
                </div>
                <div class="login-textbox-wrapper d-flex align-items-center mb-3">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
    </section>