<section class="login-wrapper d-flex justify-content-around align-items-center">
    <p>Create an Account</p>
    <div class="vhr"></div>
    <div class="login-content p-5 text-center d-flex flex-column align-items-center">
        <p>Signup</p>
        <form method="post" action="/sign-up">
            {{!-- For username --}}
            <div class="login-textbox-wrapper d-flex align-items-center mb-2">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" placeholder="Username" value="{{values.username}}">
                {{#if errorMessage.username}}
                <span class="badge rounded-pill text-danger p-1"><i class="fa-solid fa-2x fa-circle-exclamation"></i></span>
                {{/if}}
            </div>
            {{#if errorMessage.username}}
            <span class="text-danger">{{errorMessage.username}}</span><br>
            {{/if}}
            {{!-- For Email --}}
            <div class="login-textbox-wrapper d-flex align-items-center mb-2">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" name="email" placeholder="example@email.com" value="{{values.email}}">
                {{#if errorMessage.email}}
                <span class="badge rounded-pill text-danger p-1"><i class="fa-solid fa-2x fa-circle-exclamation"></i></span>
                {{/if}}
            </div>
            {{#if errorMessage.email}}
            <span class="text-danger">{{errorMessage.email}}</span><br>
            {{/if}}
            {{!-- For Password --}}
            <div class="login-textbox-wrapper d-flex align-items-center mb-2">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="ipass" placeholder="Password">
            </div>
            <div class="login-textbox-wrapper d-flex align-items-center mb-3">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="cpass" placeholder="Confirm Password">
            </div>
            {{!-- Button --}}
            <button type="submit" class="login-btn">Signup</button>
        </form>
    </div>
</section>
